/* Style Guide */

/* Colour Pallette  */

/* Black 
#f44336 Red 
#23408e Dark blue
#385399 Blue
#cccccc Gray
#ffffff White
*/


header {
  background-color: #f44336;
  font-size: 60px;
  color: black;
  font-family: 'Lucida Sans';
  text-align: center;
  padding: 10px;
}

h1 {
  background-color: #f44336;
  font-size: 60px;
  color: white;
  font-family: 'Lucida Sans';
  text-align: center;
  padding: 10px;
  margin-top: 0;
}

body {
  color: black;
  font-family: 'Lucida Sans';
  margin: 0;
}

p {
  font-family: 'Lucida Sans';
  margin: 0;
}

footer {
  font-size: 10px;
  background-color: #f44336;
}

button {
  background-color: #23408e;
  border-radius: 20px;
  padding: 10px;
  color: white;
}

button:hover {
  background-color: #385399;
}

.fieldlabel {
  font-size: 3em;
  background-color: #f44336;
  font-family: 'Lucida Sans';
  margin: 0;
  color: black;
}

.field {
  font-size: 1em;
  color: #f44336;
  font-family: 'Lucida Sans';
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

input[type=submit] {
  font-size: 1.5rem;
  background-color: #f44336;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border: #f44336;
  margin-left: 46%;
  margin-top: 1%;
  margin-bottom: 2%;
}

input[type=submit]:hover {
  background-color: #bc271d;
  cursor: pointer;
}

nav a {
  color: #d64161;
  font-size: 3em;
  text-decoration: none;
  margin-left: 0.5rem;
}

.nav-text {
  margin-left: 50px;
  margin-right: 1rem;
  float: right;
}

nav {
  padding: 0.5rem;
}

input[type=radio],
input [type=checkbox] {
  border-radius: 20px;
  cursor: pointer;
  outline: none;

  &:before {
    background-color: white;
  }

  &:after {
    background-color: #2e427a;
    color: white;
  }
}

.directions {
  font-weight: bold;
  margin-top: 2%;
}

.map-nav-bar {
  position: relative;
  z-index: 10;
  padding: 0.1%;
  text-align: center;
}

.map-home-nav-bar {
  position: relative;
  z-index: 10;
  background-color: rgb(255, 253, 250);
}

.priority-estimate {
  font-family: 'Lucida Sans';
  margin-top: 0;
  padding-top: 11px;
  padding-bottom: 11px;
}

.address {
  color: #303030;
  margin-top: 2%;
  font-size: 1rem;
}

.directions {
  cursor: pointer;
}

/* Styling the emergency popup alert */
.emergency {
  color: #ff0d0d;
}

/* Modal background */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  font-family: 'Lucida Sans';
  text-align: center;
  font-size: 2rem;
}

li {
  list-style: none;
  margin-left: 42%;
}

img {
  float: left;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  height: 3.2rem;
}

.popup-text {
  font-size: 1.1rem;
  margin-top: 2%;
  margin-bottom: 2%;
}

@import "slider.css"