/* Style Guide */

/* Colour Pallette  */

/* Black 
#f44336 Red 
#23408e Dark blue
#385399 Blue
#cccccc Gray
#ffffff White
*/


header {
    background-color: #f44336;
    font-size: 60px;
    color: black;
    font-family:'Open Sans Semibold';
    text-align: center;
    padding:10px;
}

body {
    color: black;
    font-family:'Open Sans Semibold';
    margin:0;
}

p {
    background-color: #f44336;
    font-family:'Open Sans Semibold';
    margin:0;
    color: black;
}

footer {
    font-size: 10px;
    background-color: #f44336;
}

button {
    background-color: #23408e;
    border-radius: 20px;
    padding: 10px;
    color: white;
}
button:hover {
    background-color: #385399; 
}
.fieldlabel {
    
    
} 
.field {
}
input[type = submit] {
    background-color: #23408e;
    border-radius: 20px;
    padding-left: 20px;
    padding-right:20px;
    color: white;
    border:#385399;
}
input[type = submit]:hover {
    background-color: #2e427a;
    cursor: pointer;
}
