<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} Emergency Router</title>
    <link rel="stylesheet" type="text/css" href="static\style.css">
</head>

<body>
    <nav>
        <img src="..\static\9_10_marker.png">
        <a href="{{ url_for('index') }}">Emergency Router</a>
        <a class="nav-text" href="#">About</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
<script src="../static/site.js"></script>

</html>