<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - Emergency Router</title>
    <style>
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="static\style.css">
</head>

<body>
    <nav>
        <a href="{{ url_for('index') }}">Emergency Router</a>
        <a href="#">About</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
<script src="../static/site.js"></script>

</html>