{% extends 'base.html' %}
{% block content %}

<head>
  <link rel="stylesheet" href="../static/slider.css">

</head>

<br>
<br>
<br>
<h1>Current busyness: <span id="currentVal"></span></h1>
<br>
<br>
<!-- Here's the slider + script-->
<form method="POST" action="/staff_home">
<div class="slidecontainer">
  <input type="range" min="0" max="10" value="5" class="slider" id="myRange", name = 'busyness'>
</div>
<p>
  <button type="submit" value="Northern Beaches Hospital", name = 'hospital', id="button">Submit</button>
</p>
</form>
<script type="text/javascript" src="static/slider.js"></script>

{% endblock %}